[submodule "submodules/utilities"]
	path = submodules/utilities
	url = ./submodules/utilities/
  branch = master
[submodule "submodules/build-tools"]
	path = submodules/build-tools
	url = ./submodules/build-tools/
  branch = master
