[submodule "submodules/utilities"]
	path = submodules/utilities
	url = https://github.com/BenSokol/utilities
	branch = master
[submodule "submodules/build-tools"]
	path = submodules/build-tools
	url = https://github.com/BenSokol/build-tools
	branch = master
[submodule "submodules/threadsafe-tools"]
	path = submodules/threadsafe-tools
	url = https://github.com/BenSokol/threadsafe-tools.git
	branch = master
